<router-outlet></router-outlet>

<mat-toolbar>Agregar comida</mat-toolbar>

<div class="example-container mat-elevation-z8">
  <mat-form-field>
    <mat-select placeholder="Comidas" [(value)]="comidaSeleccionada" disableRipple>
      <mat-option *ngFor="let c of comidas" [value]="c">{{"Nombre: " + c.nombre + " / Precio: " + c.precio}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Cantidad" [(ngModel)]="cantidadComidaSeleccionada">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="agregarComida()" [disabled]="estadoBotonComida()">Agregar comida</button>

  <mat-list role="list" *ngFor="let d of orden.detalle_orden; let i=index">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{i + 1 + ": Nombre: " + d.comida.nombre + " / Cantidad: " + d.cantidad}}
          </mat-panel-title>
        </mat-expansion-panel-header>
          <button mat-raised-button color="warn" (click)="removerComida(i)">Remover</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-list>
</div>

<button mat-raised-button color="primary" (click)="aceptar()">
  <mat-icon>done</mat-icon>
  <span>Aceptar</span>
</button>

<button mat-raised-button color="accent" routerLink='/ordenes/listar' type="button">
  <mat-icon>close</mat-icon>
  <span>Cancelar</span>
</button>